<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean class="org.example.TelegramMessengerImpl" name="TelegramMessenger" primary="true"></bean>-->
    <!--    <bean class="org.example.MailMessengerImpl" name="mailMessenger"></bean>-->

    <bean class="org.example.MailMessengerImpl" name="messenger1" depends-on="service1"></bean>
    <bean class="org.example.TelegramMessengerImpl" name="messenger2" depends-on="service1"></bean>

    <bean class="org.example.UserDBServiceImpl" name="service2"></bean>
    <bean class="org.example.UserFileServiceImpl" name="service1" depends-on="service2"></bean>

    <bean class="org.example.UserHandlerImpl" name="handler" init-method="setup" scope="singleton"
          destroy-method="cleanCache" autowire="byType" >

        <!--        <constructor-arg name="service" ref="service"></constructor-arg>-->
        <!--        <constructor-arg name="messenger" ref="messenger"></constructor-arg>-->
        <!--        <constructor-arg name="text" value="hello!"></constructor-arg>-->

        <!--        <property name="messenger" ref="messenger"></property>-->
        <!--        <property name="service" ref="service"></property>-->
    </bean>

</beans>