<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web
     Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

    <servlet>
        <servlet-name>cars</servlet-name>
        <servlet-class>org.example.CarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>books</servlet-name>
        <servlet-class>org.example.BookSrevlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>cars</servlet-name>
        <url-pattern>/car</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>books</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

</web-app>